.header {
  width: 100%;
  height: 65px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, #672280), to(#a626d3));
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .logo-wrap .troll-face {
  margin-left: 20px;
  width: 31.31px;
  height: 26.22px;
}

.header .logo-wrap .title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-size: 20.7482px;
  color: #ffffff;
  padding-left: 7px;
}

.header .description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

main {
  width: 100%;
  height: 485px;
}

main .meme-container {
  width: 100%;
}

main .meme-container .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 40px;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 40px 40px /1fr 1fr;
  grid-gap: 15px;
  margin: 36px 0;
}

main .meme-container .form .text {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  height: 35px;
  text-indent: 11px;
}

main .meme-container .form .btn {
  border-radius: 5px;
  grid-column: 1 /-1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

main .meme-container .img-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .meme-container .img-wrap .meme-img {
  width: 90%;
  border-radius: 15px;
}

.isfavorite {
  padding-top: 20vh;
}

.isfavorite .card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.isfavorite .card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
  border-radius: 1000px;
}

.isfavorite .card--name {
  margin-block: 13px;
  color: #333333;
}

.isfavorite .card--info {
  padding: 10px;
}

.isfavorite .card--favorite {
  width: 25px;
  cursor: pointer;
  background-color: white;
}

.isfavorite .card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 550px;
  margin: auto;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */