@import"header";
@import"main";
@import"isfavorite";
@import"boxes";
@import"jokes";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    max-width: 550px;
    margin:  auto;

}
p, h1, h2, h3{
    padding: 0;
    margin: 0;
}